
.cart-product{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  padding:20px;
  margin:10px;
  gap:20px;
 border-radius:10px;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
 background-color:#F5F5F0;

.image-container{
  width:150px;
  height:150px;
  img{
    width:100%;
    height:100%;
    object-fit:contain;
  }

}
.txt-container{
  text-align:center;
  h1{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
  }
  p{
    font-size:16px;
    margin-bottom:10px;
    color:gray;
  }
}

.quantity-container{
  display:flex;
  align-items: center;
  gap:20px;
  font-size:20px;
  font-weight:bold;
  transition:0.3s;
  .inc ,.dec{
    color:#405b7a;
    &:hover{
      color:#6381a4;
      transform:scale(1.02);
    }
  }
}
.remove-btn{
  button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    background-color:#405b7a;
    color:white;
    font-size:large;
    cursor:pointer;
    transition:0.3s;
    &:hover{
      background-color:#FF6500;
      transform:scale(1.02);
    }
  }
}

}
.mycart-container{
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
 gap:20px;
 padding:20px;
 h1{
  font-size:xx-large;
  font-weight:bold;
  margin-bottom:10px;
  text-align:center;
 }
 .myproducts-cart{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:5px;
  width:100%;
  justify-items:center;
  align-items:center;

  @media(max-width:600px){
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  }

 }
.total-price{
  h1{

 font-size:xx-large;
  font-weight:bold;
  color:#405b7a;

  span{
    color:#ff6500;
  }
  }
 
}

}