
.header-container{
display:flex;
justify-content: space-between;
align-items:center;
gap:10px;
padding:5px;
background-color: #09122C;
width:100%;
height:80px;
color:white;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
z-index:999;

.location-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:8px;
  
 &:hover{
  border:1px solid white;
  cursor: pointer;
border-radius:7px;
 }
}

.icons-container{
display:flex;
justify-content: center;
align-items: center;
gap:10px;
position:relative;
z-index:1001;


.cart-container{
  display:flex;
  flex-direction: column;
 align-items:center;
 justify-content: center;
 padding:8px;
&:hover{
   border:1px solid white;
  cursor: pointer;
 border-radius:7px;
}
 
 span{
font-weight: bold;
color:yellow;
margin-bottom:0px;
font-size:large;
padding:10px;
 }

}




}
.nav{
  display:flex;
  align-items: center;
  gap:10px;
  a{
    color:white;
    text-decoration:none;
    transition:0.3s;
    cursor:pointer;
     padding:10px;
   &:hover{
     border:1px solid white;
    padding:8px;
    border-radius:7px;
   }
  }
  a.active{
    color:yellow;
      border:1px solid white;
    padding:10px;
    border-radius:7px;
  }
}

.toggle-bar{
  cursor: pointer;
  display:none;
 
}


}
.close-btn{
  display:none;

}




/* ___________mediaQueries______________ */

@media screen and (max-width:920px ){
.nav{
  display:none !important;
}
.nav.isActive{
  display:flex!important;
  flex-direction:column;
  gap:10px;
  position:fixed;
  top:0px;
  left:0px;
  width:250px;
  height:100vh;
  background-color:#f2ecd5 ;
  z-index:1000;
  padding:20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 a{
    color:#19183B;
    text-decoration:none;
    transition:0.3s;
    cursor:pointer;
     padding:10px;
   &:hover{
    border:1px solid #19183B;
    padding:10px;
    border-radius:7px;
    transition:0.3s ease-in-out;
   }


 
}

a.active{
   background-color:#FFCC00 ;
   color:#09122C;
      border:1px solid #19183B;
    padding:10px;
    border-radius:7px;

  }

}

.toggle-bar{
  display: block !important;

}


.icons-container{
  gap:5px;
}


  .cart-container span {
    font-size: 14px; 
    padding: 5px;
  }
  .close-btn{
    display:block;
    color:#09122C;
    position:absolute;
    top:15px;
    right:10px;
    &:hover{
      color:rgb(238, 1, 1);
    }
  }

}
